rem-calc(value)
  ((u = unit(value)) is "px") ? unit(round(value/16, 4), "rem") : value

$slide-width = 1920px
$slide-height = 1080px
$slide-padding = 1em
$slide-transition = none
$color-surface = #ffffff
$color-canvas = #fa00ff
$color-text = #212121
$color-muted = #757575
$color-accent = #00897b
$color-inverse = #fff
$color-highlight = #3476bc
$color-heading = #3095b4
$font-family-base = "Lucida Bright", serif
$font-size-base = 2em
$sym-dblquote-left = "\201c"
$sym-dblquote-right = "\201d"
$sym-dash-em = "\2014"
